.archive{

    .title-archive{
        color: white;
        font-family: "coolvetica";
        text-align: center;
        font-size: 12vw;
        text-transform: uppercase;
    }

    .archive-menu{
        display: flex;
        justify-content: space-between;
        a{
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    .down{
        padding: $spacing;
        padding-top: 0;
        font-family: $paragraph !important;
    } 
    
    /* Definisci l'animazione fadeIn */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    
}