.archive{

    .top{
        padding: $spacing;
        h1{
            text-align: center;
            padding-top: 5%;
            font-size: $standardSize*5;
            font-family: $coolvetica;
            font-weight: 400;
            color: white;
        }
    }   
    .down{
        padding: $spacing;
        padding-top: 0;
        font-family: $paragraph !important;
    } 
    
    /* Definisci l'animazione fadeIn */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    
}