@import './variable.scss';
@import './mixin.scss';
.menu {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    position: fixed;
    .link{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 2%; 
        @include size-md{
        padding-top: 3%; 
        }  
    }
    @include size-md{
        background-color: transparent;
        grid-template-columns: 1fr 1fr 2fr;
        position: fixed;
        z-index: 999;
        width: 100%;
    }
    a{
        color: white;
        font-family: $coolvetica;
        font-size: $standardSize*0.5;
        mix-blend-mode: difference;
        text-transform: uppercase;
        text-align: center;
        @include size-md{
            font-size: $standardSize*0.7;
            text-align: left;
        }
    }
}