$colorDef: red;

//font
$standardSize: 30px;

//space
$spacing: 1%;

//Breakpoints
$breakpointSm: 767px;
$breakpointMd: 1023px;
$breakpointLg: 1280px;
$breakpointXl: 1600px;

//Fonts
$oXL: 400px;
$lineHeight: 26px;
$baseFontSize: 23px;

// $standard: 'Neue Haas Grotesk Display Pro';
// $secondary: 'Outward', sans-serif;
$damn: 'DAMN', sans-serif;
$paragraph: 'DM Sans', sans-serif;
                                                